<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="Block">
        <div id="Panel2">
            <div id="Panel1">
            <h2>Calculadora</h2>
            <p>Desenvolvido em:<br> <span style="color: orange;"> HTML</span> e <span style="color: aquamarine;">CSS</span></p>
            </div>
        </div>
    </div>
    <div id="calculadora">
    <!-- <h1 id="titulo">Calculadora</h1> -->
    <div id="Painel">
        <!-- <span id="numero1">308</span><span class="multiplicar2">x</span><span id="numero2">42</span>
        <h2 id="resultado">12,936</h2> -->
    </div>
    <div id="teclado">
        <div id="botoes">
        <button class="cortar">AC</button>
        <button class="Qisso"><img id="second" src="/static/second key.png" alt=""> </button>
        <button class="porcentagem"><img id="porcento" src="/static/third key.png" alt=""> </button>
        <button class="dividir"><span id="divisão">÷</span></button>
        <button class="numero">7</button>
        <button class="numero">8</button>
        <button class="numero">9</button>
        <button class="multiplicar">x</button>
        <button class="numero">4</button>
        <button class="numero">5</button>
        <button class="numero">6</button>
        <button class="subtração">-</button>
        <button class="numero">1</button>
        <button class="numero">2</button>
        <button class="numero">3</button>
        <button class="adição">+</button>
        <button class="voltar"><img src="/static/recarregar.png" id="voltar" alt=""></button>
        <button class="numero">0</button>
        <button class="ponto">.</button>
        <button class="igual">=</button>
    </div>
    </div>
    </div>
</body>
</html>